#header{height:145px}
#logo h1{margin:0 0 0 1px}
#navbar{height:32px;padding:4px 0 0 30px}
#sub{height:33px;padding:3px 0 0 308px}
#sub h2{padding:2px 0 0 12px}

#content{width:734px}
#lsheader{margin:1px 2px 2px 1px}
#rsheader{width:218px;margin:1px 2px 2px 0px}
#lsheader .moduletable h3{height:28px}
#rsheader .moduletable h3{height:28px}
#main{padding:1px 0 0 0;background:#fff url(../images/main1.gif) repeat-y}

#lbox{margin:0 1px}
#rbox{margin:0 2px 0 1px;width:552px}
#left .moduletable h3,#right .moduletable h3{height:29px}
#pathway{height:28px;width:546px}
#top,#bottom{width:546px}
#mainbody{width:546px}
#footer_container_inner{margin:2px 1px 0px 1px;width:730px}
#bottom_left{margin:0 0 0 -12px}