BODY {
	scrollbar-face-color: #AAD4D4;
	scrollbar-shadow-color: #AAD4D4;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #AAD4D4;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #9E9E9E;
	scrollbar-arrow-color: #000000
}

p,h1,h2,h3,main {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 85%;
	color: black;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 200%;
	font-weight: bold;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 160%;
	font-weight: bold;
}

h3 {
	font-size: 110%;
}

td,tr,p,div {
  font-family      : Arial, Helvetica, Trebuchet MS, Verdana, sans-serif;
  font-size        : 11px;
  color            : #000000;
}

ul {
  margin           : 5px 5px 5px 5px;
}

li {
  list-style       : inside url(../../../images/M_images/arrow.png);
  list-style-image : url(../../../images/M_images/arrow.png);
}

hr {
  background       : #a0a0a0;
  height           : 1px;
  width            : 95%;
}

table.searchintro {
  background-color : #FFFFFF;
  border           : 1px solid #777777;
}

/* ###################### LINKS ###################### */
a:link, a:visited {
  font-family      : Arial, Helvetica, Trebuchet MS, Verdana, sans-serif;
  font-size        : 11px;
  font-weight      : bold;
  letter-spacing   : 1px;
  color            : #ABD5D4;
  text-decoration  : none;
}

a:hover {
  color            : #FAFAFF;
  border-bottom    : none;
}

a.category:link, a.category:visited {
  font-family      : Arial, Helvetica, Trebuchet MS, Verdana, sans-serif;
  font-size        : 11px;
  font-weight      : bold;
  letter-spacing   : 1px;
  color            : #ABD5D4;
  text-decoration  : none;
}

a.category:hover {
  border-bottom    : 1px solid #ABD5D4;
}

a.blogsection:link, a.blogsection:visited {
  font-family      : Trebuchet MS;
  font-size        : 11px;
  font-weight      : bold;
  letter-spacing   : 1px;
  color            : #ABD5D4;
  text-decoration  : none;
}
a.blogsection:hover {
  border-bottom    : 1px solid #ABD5D4;
}

/* ###################### MAIN MENU SETTINGS ###################### */
a.buttonbar:link, a.buttonbar:visited {
	font-family: Verdana,Tahoma,Arial;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #609D9E;
	padding-left: 7px;
	padding-right: 7px;
}

a.buttonbar:hover {
	color: #A1ABAC;
}

a.mainlevel  {
  font-family      : Arial, Verdana, Geneva, Helvetica, sans-serif;
  text-align       : center;
  display          : block;
  line-height      : 22px;
  height           : 20px;
  font-size        : 12px;
  width            : auto;
  background       : url(../images/boff.jpg);
}

a.mainlevel:link, a.mainlevel:visited {
  text-align       : center;
  display          : block;
  font-size        : 12px;
  font-weight      : bold;
  padding          : 0px 0px 0px 0px;
  color            : #333333;
  width            : auto;
}

a.mainlevel:hover {
  text-align       : center;
  display          : block;
  background       : url(../images/bon.jpg);
  font-size        : 12px;
  font-weight      : bold;
  text-decoration  : none;
}

a.sublevel  {
  font-family      : Arial, Verdana, Geneva, Helvetica, sans-serif;
  text-align       : left;
  font-size        : 11px;
  width            : auto;
}

a.sublevel:link, a.sublevel:visited {
  text-align       : left;
  font-size        : 11px;
  font-weight      : bold;
  padding          : 0px 0px 0px 0px;
  color            : #333333;
  width            : auto;
}

a.sublevel:hover {
  text-align       : left;
  font-size        : 11px;
  font-weight      : bold;
  text-decoration  : none;
  color            : #f0f0f0;
}

/* ###################### MODULE SETTINGS ###################### */
table.moduletable {
  width			   : 100%;
  table-layout	   : auto;
  margin-top       : 3px;
  margin-bottom    : 7px;
}

table.moduletable th {
  font-family      : Arial, Verdana, Geneva, Helvetica, sans-serif;
  font-size        : 11px;
  font-weight      : bold;
  text-transform   : uppercase;
  letter-spacing   : 1px;
  text-align       : center;
  height           : 24px;
  line-height      : 24px;
  color            : #FFF;
  background-image : url(../images/module_bg.jpg);
  border-top       : 2px solid #A1ABAC;
  border-left      : 2px solid #A1ABAC;
  border-bottom    : 2px solid #9E9E9E;
  border-right     : 2px solid #9E9E9E;
}

table.moduletable td {
	padding-left: 2px;
	padding-right: 2px;
}

.poll {
  font-family      : Arial, Helvetica, Trebuchet MS, Verdana, sans-serif;
  font-size        : 11px;
  color            : #101010;
}

/* ###################### FORMULAR SETTINGS ###################### */
.button {
  font-family      : Arial, Helvetica, Trebuchet MS, Verdana, sans-serif;
  font-style       : normal;
  font-weight      : bold;
  font-size        : 10px;
  color            : #000000;
  border           : 1px solid;
}

.inputbox {
  font-family      : Arial, Helvetica, Trebuchet MS, Verdana, sans-serif;
  font-size        : 10px;
  font-weight      : bold;
  color            : #000000;
  background       : #FFFFFF;
  border           : 1px solid;
}

/* ###################### CONTENT PAGE SETTINGS ###################### */
a.contentpagetitle:link, a.contentpagetitle:visited {
  font-family      : Arial;
  font-size        : 15px;
  font-weight      : bold;
  color            : #333333;
  padding          : 1px;
  border-bottom    : none;
  text-decoration  : none;
}

a.contentpagetitle:hover {
  color            : #330000;
}

table.content{
  width            : 100%;
  padding          : 20px;
  border-collapse  : collapse;
  border-spacing   : 0px;
  margin-bottom    : 10px;
}

table.contentpane {
  width            : 100%;
  padding-left     : 3px;
  padding-right    : 3px;
  padding-top      : 3px;
  border-spacing   : 0px;
  margin-bottom    : 5px;
}

table.contentpaneopen {
  width            : 100%;
  padding-left     : 3px;
  padding-right    : 3px;
  padding-top      : 3px;
  border-spacing   : 0px;
  margin-bottom    : 5px;
}

.contentheading {
	background-image: url(../images/bigbullet.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 31px;
  font-family      : Arial;
  font-size        : 15px;
  font-weight      : bold;
  color            : #333333;
  border-bottom    : 1px solid #333333;
  margin           : 2px;
}

.componentheading {
  font-family      : Helvetica;
  text-transform   : uppercase;
  letter-spacing   : 5px;
  font-size        : 15px;
  font-weight      : bold;
  color            : #1D2726;
  text-align       : left;
  padding          : 1px;
  padding-left     : 3px;
  margin-bottom    : 3px;
  border-bottom    : 1px solid #1D2726;
}

.contentdescription {
  font-family      : Arial, Helvetica, Trebuchet MS, Verdana, sans-serif;
  font-size        : 11px;
  color            : #333333;
  text-align       : left;
}

.category {
  color            : #C0C0C0;
  font-family      : Arial, Helvetica, Trebuchet MS, Verdana, sans-serif;
  font-size        : 11px;
  font-weight      : bold;
  text-decoration  : none;
}

/* ###################### SECTION LISTING SETTINGS ###################### */
.sectiontableheader {
  font-size        : 11px;
  font-weight      : normal;
  text-transform   : uppercase;
  letter-spacing   : 1px;
  color            : #FFFFFF;
  background       : #1D2726;
  border-top       : 1px solid #e0e0e0;
  border-left      : 1px solid #e0e0e0;
  border-bottom    : 1px solid #505050;
  border-right     : 1px solid #505050;
  padding          : 1px;
  padding-left     : 4px;
  padding-right    : 4px;
}

.sectiontableentry1 {
  vertical-align   : top;
  padding          : 3px;
  background       : #7B9999;
  border-top       : 1px solid #e0e0e0;
  border-bottom    : 1px solid #505050;
}

tr.sectiontableentry1 td {
  border-top       : 1px solid #e0e0e0;
  border-bottom    : 1px solid #505050;
}

.sectiontableentry2 {
  vertical-align   : top;
  padding          : 3px;
  background       : #384345;
  border-top       : 1px solid #e0e0e0;
  border-bottom    : 1px solid #505050;
}

tr.sectiontableentry2 td {
  border-top       : 1px solid #e0e0e0;
  border-bottom    : 1px solid #505050;
}

/* ###################### TABLE OF CONTENT SETTINGS ###################### */
.contenttoc {
  background-color : #f0f0f0;
  border           : solid 1px #777777;
  padding          : 3px;
  margin           : 3px;
}

a.toclink:link, a.toclink:visited {
  color            : #707070;
  font-weight      : bold;
  border-bottom    : none;
}

a.toclink:hover {
  color            : #707070;
  font-weight      : bold;
  font-style       : italic;
}

/* ###################### DATE TIME SETTINGS ###################### */
.createdate {
  font-style       : italic;
}

/* ###################### PAGE NAVIGATION SETTINGS ###################### */
.pagenavbar {
  text-align       : center;
}

/* ###################### OTHER SETTINGS ###################### */
.blog_more {
  font-size        : 14px;
  font-weight      : bold;
  font-style       : italic;
  text-align       : left;
  padding-top      : 10px;
  padding-left     : 15px;
}

a.readon:link, a.readon:visited {
  font             : Arial, Verdana, Trebuchet MS;
  font-size        : 11px;
  font-style       : italic;
  padding-bottom   : 2px;
  padding-left     : 2px;
  padding-right    : 2px;
  padding-top      : 2px;
  float            : right;
  line-height      : 10px;
  border           : 1px solid;
}

a.readon:hover {
  font             : Arial, Verdana, Trebuchet MS;
  font-size        : 11px;
  font-style       : italic;
  padding-bottom   : 2px;
  padding-left     : 2px;
  padding-right    : 2px;
  padding-top      : 2px;
  float            : right;
  line-height      : 10px;
  border           : 1px solid;
}
