input.button{padding-bottom:1px}
body{margin:22px 0}
table{font-size:1em;letter-spacing:1px;line-height:1.35em}



#button1{margin:6px 0 0 185px}
input.button{background: url(../images/button.gif)}
#menu{margin:87px 0 0 8px}
#top,#bottom{margin:0 0 0 10px}
#mainbox_top,#mainbox_bottom{margin:20px 0 0 10px}
#mainbox_bottom{margin:0 0 0 10px}
#mainbody{width:100%}

#left .module div,#right .module div,#bottom .module div,#top .module div{padding-bottom:5px}

#search_field #inputbox input.inputbox{height:19px;width:84px}

#loginbox h1{padding:7px 0 0 10px;font-weight:normal}
#loginbox #user input.inputbox,#loginbox #pass input.inputbox{height:18px;width:84px}
#loginbox #remember{float:left;margin:27px 0 0 -114px}
#loginbox #text2{margin:-15px 0 0 23px}

#footer_container{margin:0}