body{margin:0;padding:0;font-family:verdana,arial,sans-serif;font-size:80%;color:#343434;background-color:#DDDDDD}
p{margin:0.2em 0 1.2em 0;padding:0.3em}
div{display:block;margin:0;padding:0;text-align:left}
h1,h2,h3,.componentheading,.contentheading{padding:0;font-weight:normal;font-style:italic;font-family:"Trebuchet MS",verdana,arial,sans-serif}
h1{margin:0;font-size:2.5em;color:#8CD749}
h2,h3{margin:0.2em;font-size:1em;text-align:left;color:#3B4471;background-color:#DDDDDD}
ul{list-style:none;margin:0;padding:0}
li{background:url(../images/list_arrow.gif) 0px 7px no-repeat;padding-left:15px;line-height:18px}
a:link,a:visited,a:active{color:#64a33c;text-decoration:none}
a:hover{color:#3B4471}

.clear{clear:both}
.container{width:100%;background:white}

#header{background:url(../images/header.jpg) repeat-x;height:110px;overflow:hidden}
#titleblock{padding:18px 0 24px 18px;width:154px;float:left}
#titleblock h1{background:url(../images/logo.png) left top no-repeat;width:136px;height:68px}
#titleblock h1 a{display:block;width:136px;line-height:68px;text-indent:-5000px}
#infoblock{float:none;margin-left:154px;padding-left:18px;width:auto}
#infoblock h2{margin:0;padding-top:42px;font-size:2.5em;letter-spacing:10px;color:#8CD749;background:none}

#menu{line-height:27px;color:white;font-weight:bold;padding-left:18px;background:url(../images/menu_bg.jpg) left bottom repeat-x}

#footer{color:#666666;font-size:0.8em;padding:0.8em}
#footer p{clear:both;margin:0}
#leftcol2{float:left;width:auto}
#rightcol2{float:right;width:auto;text-align:right}