/* ==========================================================
     Design for Joomla common css classes v1.0

     Author  : Nguyen Manh Cuong
     Email   : cuongnm@designforjoomla.com
     Homepage: http://designforjoomla.com
========================================================== */

.hiddenDiv {
	position: absolute;
	width: 640px;
	height: 480px;
}
.hiddenDivContent {
	border: 1px solid #a0a0a0;
}
.hiddenDivTable {
	background-color: #e5e3da;
}
.hiddenDivTableHeader {
	color: #000;
	background-color: #e58f17;
	text-transform: uppercase;
	font-weight: bold;
}
.hiddenDivTableHeader a:link, .hiddenDivTableHeader a:hover, .hiddenDivTableHeader a:visited {
	color: #efefef;
	text-transform: uppercase;
}
.hiddenDivTableToolbar {
	background-color: #e5d7c3;
	text-align: right;
}
.hiddenDivTableToolbar a.trash_button:link, .hiddenDivTableToolbar a.trash_button:hover, .hiddenDivTableToolbar a.trash_button:visited {
	display: inline;
	line-height: 20px;
	background-image: url(../images/trash.png);
	background-repeat: no-repeat;
	background-position: right center;
	text-align: right;
	padding-right: 18px;
}
.hiddenDivTableBody {
	overflow: auto;
}

div.loading_text {
	background-color: #ff9933;
	color: #ffffff;
}

a.tabbed:link, a.tabbed:link:visited {
	background-color: #daeaf2;
	border: 1px solid #80B5D7;
	border-bottom: none;
	padding: 4px 8px;
	margin: 1px;
	color: #244a66;
	text-decoration: none;
}
a.tabbed:hover, a.tabbed#active-tab {
	background-color: #80B5D7;
	color: #ffffff;
}

.folder {
	display: block;
	height: 16px;
	background: transparent url(../images/folder.gif) no-repeat 4px 50%;
	padding: 1px 1px 1px 25px;
	border-bottom: 1px solid #ccc;
	color: #00d;
	text-decoration: none;
}
.folder_no_image {
	height: 16px;
	padding: 1px 1px 1px 1px;
	border-bottom: 1px solid #ccc;
	color: #00d;
	text-decoration: none;
}
.folder:hover {
	background-color: #ffc;
	color: #00f;
	text-decoration: underline;
}
.folder_no_image:hover {
	background-color: #ffc;
	color: #00f;
	text-decoration: underline;
}
.file {
	display: block;
	height: 14px;
	padding: 1px 1px 1px 5px;
	color: #080;
}
.file:hover {
	background-color: #ffc;
	color: #00f;
	text-decoration: underline;
}