.page_title{text-align:right;line-height:40px;font-size:30px;color:#378ac3}
.page_body{width:99%}

.featured_block{margin:1em 0;padding:0.5em 0;background:#f8f8f8;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd}
.featured_title{font-size:130%;font-weight:bold;margin-bottom:0.5em;text-align:left;border-bottom:#d9d9d9 dotted 1px}
.featured_body{}

.block1,.block2,.block3{width:auto !important;width:100%}
.category_title{font-size:130%;font-weight:bold;text-align:left;margin:0.5em 0.1em;width:auto;border-bottom:#d9d9d9 dotted 1px}
.category_body{}

.leading_articles{}
.intro_articles,.blog_more{width:auto !important;width:100%}
.contentpaneopen td{padding:0 0.1em}
.blog_more{height:100%;text-align:left}
.blog_more .articles_link,.blog_more .articles_link div{border:none}
.articles_image{border:none}
.category_pagination{text-align:center}

.more_articles{text-align:right;padding:0.2em;border-top:#d9d9d9 dotted 1px}
.more_articles a:link,.more_articles a:visited,.more_articles a:hover{font-weight:bold;text-decoration:none}
.category_body,.more_articles{margin:0 0.1em;width:auto}

.separator_block{}
.newsletter_subscribe{margin:1em 0 0.5em;text-align:left}
.newsletter_subscribe a{font-weight:bold;text-decoration:none;padding-right:20px;background:url(../../../images/M_images/emailButton.png) right center no-repeat}

.thumbnail_left{margin-right:9px}
.thumbnail_right{margin-left:9px}
.thumbnail_top{margin:1px 0}
.thumbnail_bottom{margin:1px 0}