/* STANDARD CSS SELECTORS OF JOOMLA 1.0.X TEMPLATE SYSTEM */

/* ======================== COMMON ======================== */

/* standard */
body{margin:0;padding:0;font-family:Arial,Verdana,Sans-Serif;font-size:12px;background:#E7E7E7;color:#808080}
p{margin:0;padding:0}
th,td,form,div,body{margin:0;padding:0;font-family:Arial;color:#808080}
ul{margin:0;padding:0;list-style:none}
li{display:block;padding:0 0 4px 10px;margin:0 0 2px;border-bottom:1px dotted #ccc;font-size:0.9em;background:url(../images/strelica2.gif) no-repeat left center}
label{vertical-align:baseline}

/* link */
a{text-decoration:none;color:#B60400}
a:hover{color:#808080}

/* ======================== MORE ======================== */
.blog td{padding:2px}
.blog_more{margin:0 3px 15px 13px;padding:3px 6px;border:1px dotted #777}
.blog_more div{border-bottom:1px dotted #777}
.blog_more ul{margin:0 0 0 34px}
.blog_more ul li{border:none;padding:0 0  0 15px}
.blog_more ul li a.blogsection{text-decoration:none}


/* read more */
.readon{float:right;font-weight:bold}

/* ======================== CONTENTTOC ======================== */
.contenttoc{margin:7px;padding:0 10px;border:1px dotted #777}
.contenttoc th{border-bottom:1px dotted #444;font-size:13px;color:#777;text-align:center}
.contenttoc td{margin:5px 0 5px 14px;padding:2px 7px}
.contenttoc a.toclink{text-decoration:none;font-weight:bold}


/* ======================== NAVIGATION ======================== */
.contentpane,.contentpaneopen{text-align:justify}
.small,span.small,#mainbody .createdate,#mainbody .modifydate,.pagenavcounter{font-size:0.9em;font-style:italic}
.back_button,.pagenav_prev,.pagenav_next{font-size:1em}
select#mod_templatechooser_jos_change_template{width:142px}

/* ======================== POLL ======================== */

.pollstableborder td{line-height:25px;vertical-align:middle}
.poll thead td{text-align:center}
.poll .button{margin-top:5px}

.sectiontableheader{color:#444;background:#D0DEF6;font-weight:bold;padding:0 5px;height:20px;border-bottom:1px dashed #222;font-size:12px}
.sectiontablefooter{text-align:center}
.sectiontableentry1 label{color:#333}
.sectiontableentry2 label{color:#333}

.pollstableborder{margin:0}
.pollstableborder td{vertical-align:middle}
.pollstableborder input{margin:0}

.sectiontableentry1,.sectiontableentry1 td{padding:2px 5px;text-align:left;background:#F2F2F2;color:#333;line-height:25px}
.sectiontableentry2,.sectiontableentry2 td{padding:2px 5px;text-align:left;line-height:25px}
/* ======================== SYNDICATE ======================== */
.syndicate div{text-align:center}