/* STANDARD CSS SELECTORS OF JOOMLA 1.0.X TEMPLATE SYSTEM */

/* ======================== COMMON ======================== */

/* standard */
*{padding:0;margin:0}
body,html{font:normal small "Trebuchet MS", Arial, Helvetica, sans-serif;color:#999999}
body{font-size:13px;background:#3399FF}
input,textarea{}
a{color:#333333}
a:hover{text-decoration:none;color:#000000}
ul{margin:10px 0 10px 25px}
ul li{}
ul li a{}
blockquote{display:block;padding:10px 20px;margin:20px 0;background:#FFE1B3;font-size:0.9em}

/* ======================== PATHWAY ======================== */
span.pathway,a.pathway{}
a.pathway:hover{}
span.pathway img{}

/* ======================== CONTENT ======================== */

/* page title */
.componentheading{padding:0 0 5px 20px;color:#FF8400;font-size:2em;text-transform:lowercase;font-weight:normal}

/* blog page main wrapper */
table.blog{}
table.blog td{padding:0 0.1em}

/* component & content container */
table.contentpane,table.contentpaneopen{}
.contentpane img,.contentpaneopen img{}
.buttonheading img{}
.mosimage_caption{}
/* separator after each content item */
span.article_seperator{}

/* content title */
td.contentheading{font-size: 1.4em;text-transform:lowercase;font-weight:normal}

a.contentpagetitle{}

/* 3 buttons */
td.buttonheading img{border:none}

/* date & author */
span.small,td.createdate,td.modifydate{font-size:0.8em}
.smalldark{}

/* page counter */
div.pagenavcounter{}

/* table of content */
table.contenttoc{padding:4px;margin:4px}
table.contenttoc th{}
table.contenttoc td{}
a.toclink{}

/* content image */
div.mosimage{}
div.mosimage_caption{}

/* read more */
a.readon{}

/* ======================== MORE ======================== */

/* panel */
div.blog_more{}

/* panel heading */
div.blog_more div{}

/* block list */
div.blog_more ul{}
div.blog_more ul li{}

/* list link */
a.blogsection{}

/* ======================== TABLE ======================== */

/* description */
td.contentdescription{font-weight:bold}

/* category link */
a.category{}

/* listing */
td.sectiontableheader{padding:0.5em;background:#FFCC33;color:white;text-transform:uppercase}
tr.sectiontableentry1 td{padding:0px 5px;background:#FFFFF0;text-align:left}
tr.sectiontableentry2 td{padding:0px 5px;background:#FFFFFF;text-align:left}
tr.sectiontableentry1 td a,tr.sectiontableentry2 td a{font-size:0.9em}

/* ======================== NAVIGATION ======================== */
a.mainlevel{}
a.sublevel{}
ul#mainlevel{}

/* multi-page content nav */
div.pagenavbar{}
div.pagenavbar div{}
div.pagenavbar div a{}

/* content item nav */
th.pagenav_prev,th.pagenav_next{}
th.pagenav_prev a,th.pagenav_next a{}

/* blog page nav */
.pagenav{}
a.pagenav{}

/* back button */
div.back_button{margin:1em 0}
div.back_button a{}

/* ======================== FORM ======================== */
input.button{margin-top:5px}
input.button:hover{}
input.inputbox{}
input.inputbox:hover{}
input.inputbox:focus{}
select.inputbox{}
select#mod_templatechooser_jos_change_template{width:142px;margin:3px 0 0 0}
textarea#contact_text.inputbox{}
/* ======================== POPUP ======================== */
body.contentpane{}

/* ======================== MENU ======================== */


/* ======================== SEARCH ======================== */

/* search wrapper */
div.search{}

/* keyword input field */
input#mod_search_searchword{}

/* keyword high-light */
span.highlight{}

/* ======================== LOGIN ======================== */
input#mod_login_username{}
input#mod_login_password{}
input#mod_login_remember{}

/* ======================== LATEST ARTICLE ======================== */
ul.latestnews{}
li.latestnews{}
a.latestnews{}

/* ======================== POPULAR ARTICLE ======================== */
ul.mostread{}
li.mostread{}
a.mostread{}

/* ======================== POLL ======================== */

/* wrapper table */
table.poll{margin-bottom:0.25em;width:100%}

/* question cell */
table.poll thead td{font-size:0.9em}

/* answers cell */
table.poll td{text-align:left}

/* answers table */
table.pollstableborder{margin:0.25em 0}
table.pollstableborder td{font-size:0.9em;vertical-align:middle}
td.sectiontableentry1,td.sectiontableentry2{padding:0.5em;color:#000000}
td.sectiontableentry1{background:#F0EBAC}
td.sectiontableentry2{background:#F0F0F0}

/* ======================== SYNDICATE ======================== */
div.syndicate{}
div.syndicate img{border:none}
div.syndicate div{}