/* ===================== MAINMENU =============================== */
#D4J_MainMenu table{background:url(../images/img03.jpg) 0 -4px no-repeat}

#D4J_Inset{color:#ffffff;font-size:1.7em;line-height:40px;text-align:right;font-style:italic}

/* ===================== LEFTSIDE =============================== */
#D4J_LeftSide .moduletable,#D4J_LeftSide .moduletable-nav{background:url(../images/img08.jpg) 0 21px repeat-x;margin-bottom:25px;padding:44px 20px 0 20px}
#D4J_LeftSide .moduletable h3,#D4J_LeftSide .moduletable-nav h3{font-size:1.3em;color:#715558;margin:-46px 0 25px 0;background:none}
#D4J_LeftSide .moduletable ul#mainlevel{list-style:none}
#D4J_LeftSide .moduletable ul#mainlevel a,#D4J_LeftSide .moduletable-nav a.mainlevel,#D4J_LeftSide .moduletable-nav a.sublevel{display:block;width:182px;height:23px;padding:4px 0 5px 0}
#D4J_LeftSide .moduletable ul#mainlevel a:hover,#D4J_LeftSide .moduletable-nav a.mainlevel:hover,#D4J_LeftSide .moduletable-nav a.sublevel:hover{background:url(../images/img06.gif) repeat-x left bottom}
#D4J_LeftSide .moduletable-nav a.sublevel{margin-left:-4px;padding:4px 0 5px 20px;width:162px}

/* ====================== RIGHTSIDE ============================= */
#D4J_RightSide .moduletable h3{color:#715558;text-transform:uppercase;margin:0 0 20px 0;font-size:1em}
#D4J_Newsflash .moduletable,#D4J_Top .moduletable,#D4J_Bottom .moduletable{background:url(../images/img08.jpg) 0 21px repeat-x;margin-bottom:25px;padding:44px 20px 0 20px}
#D4J_Newsflash .moduletable h3,#D4J_Top .moduletable h3,#D4J_Bottom .moduletable h3{font-size:1.3em;color:#715558;margin:-46px 0 25px 0;background:none}

#D4J_BottomUsers .moduletable h3{color:#715558;text-transform:uppercase;margin:0 0 20px 0;font-size:1em}

/* ======================= FOOTER =============================== */
#D4J_FooterUsers a{color:#ffffff}
#D4J_FooterUsers .moduletable h3{text-transform:uppercase;margin:0 0 20px 0;font-size:1em}

#D4J_Footer,#D4J_Footer a{color:#ffffff}
#D4J_Footer a{font-weight:bold;background:none}