/* CSS Document */
#D4J_MainMenu a.mainlevel{
	width:74px;
	height:36px;
	display:block;
	padding:0;
	color:#555;
	background:#fff;
	text-decoration:none;
	text-align:center;
	margin:9px 1px 0 0;
	top:0px;
	left:0px;
	overflow:hidden;
	font:12px/36px "Trebuchet MS",Arial, Helvetica, sans-serif;
	font-weight:bold
}
#D4J_MainMenu a.mainlevel:hover{
	width:74px;
	height:36px;
	text-decoration:none;
	background:url(../images/button.gif) no-repeat 0 0 #AEAEAE;
	color:#fff
}
#D4J_MainMenu .transMenu .items{
	width:150px;
	background:#AEAEAE;
	z-index:100;
	border-top:1px solid #ccc
}
#D4J_MainMenu .transMenu img{
	display:none
}
#D4J_MainMenu .transMenu .items .item{
	display:block;
	width:177px;
	background:none;
	margin:0;	
	padding:0;
	border:1px solid #ccc;
	border-top:none
}
#D4J_MainMenu .transMenu .items .item td{
	width:156px;
	display:block;
	margin:0;
}
#D4J_MainMenu .transMenu .items .item .sublevel{
	display:block;	
	margin:0;
	padding:4px 4px 1px 10px;
	color:#608E31;
	height:26px;
	font-size:1.2em;
	background:#AEAEAE;
	color:#fff;
	text-decoration:none;
}
#D4J_MainMenu .transMenu .items .item .sublevel:hover{	
	background:#fff;
	text-decoration:none;
	color:#AEAEAE;
}