/*Document settings*/
body{background:#90140C url(../images/stripes.gif) repeat-x;background-position:50% 40px;margin:0;padding:0;font:11px arial,verdana,helvetica,sans-serif}
a{color:#600000;font-weight:bold;text-decoration:none}
a:hover{color:#90140C}
img{border:1px solid #993300}
ul{list-style:none;padding:0;margin:0}
h2{font-size:14px}

/*Position settings(tabless)*/
.clearer{clear:both}

#nav{text-align:center;width:100%;background:#000 url(../images/nav.gif) repeat-x;margin:0;padding:0;height:40px;overflow:hidden;cursor:default}
#nav li,#nav a{display:inline;color:#fff;text-decoration:none;font-size:11px;font-weight:bold;height:40px;line-height:40px;padding:13px 15px;margin:0}
#nav li a{background:transparent url(../images/nav.gif) repeat-x}
#nav li a:hover,#nav li#current a{background:transparent url(../images/nav.gif) 0 -40px repeat-x}
#nav li{padding:14px 0}

#body{width:732px;margin:0;border:solid 15px #600000;border-bottom:none;background-color:#f3f3f3;height:auto}

#header{width:786px;height:101px;background:transparent url(../images/title_background.jpg) no-repeat center;margin-top:66px;color:#FE9B27;overflow:hidden;font-size:14px}
#header .moduletable h3,#header h1{display:block;padding-top:17px;margin:0 auto;line-height:75px;text-align:center;font:normal 40px 'trebuchet ms';color:#FE9B27;letter-spacing:8px;cursor:default;text-transform:uppercase;width:700px;overflow:hidden;height:50px;margin-bottom:10px}
#header h1 a{font:normal 40px 'trebuchet ms';color:#FE9B27;padding:0}

#toplink{height:28px;overflow:hidden;width:100%;background:#000 url(../images/stripes_small.gif) repeat-x;color:#fff;cursor:default;text-align:left;font-style:normal}
#toplink ul{float:right;clear:none;display:inherit}
#toplink ul li a,#toplink ul li{display:block;float:right;width:78px;height:28px;text-align:center;text-decoration:none;color:#fff;font-weight:bold;overflow:hidden}
#toplink ul li a{padding-top:7px;height:16px;overflow:hidden}
#toplink ul li a:hover{color:#000}
#toplink li.blue{background:#0086EE url(../images/blue.jpg) no-repeat}
#toplink li.red{background:#F41100 url(../images/red.jpg) no-repeat}
#toplink li.orange{background:#ED700D url(../images/orange.jpg) no-repeat}
#toplink li.green{background:#199B2C url(../images/green.jpg) no-repeat}

#statictis{color:#FFFFFF;width:390px;float:left;height:37px;margin:7px 0 0 10px;overflow:hidden}
#statictis a{color:#FFFFFF}
#statictis a:hover{color:#FFFFFF;text-decoration:underline}
#linkbutton{float:right;width:320px}

#banner{background:#71201b url(../images/ad.gif) repeat-x;border-top:1px solid #CA807C;border-left:1px solid #A5514B;border-right:1px solid #5B1D1B;border-bottom:1px solid #3E1B19;font-style:normal;text-align:center;color:#fff;cursor:default;overflow:hidden}
#banner a{color:#FFFFFF}
#banner a:hover{color:#000000}
#banner .moduletable h3{color:#FFFFFF}

#top{height:200px;background:#FE8624 url(../images/main.gif) repeat-x;border-top:1px solid #FEC782;border-left:1px solid #FEB154;border-right:1px solid #D76C22;border-bottom:1px solid #783C1C;text-align:justify}
#intop{height:174px;overflow:hidden}
#top .moduletable h3{font-style:normal;font-size:20px;margin:23px -24px 0 -24px;text-align:left;color:#000000}
#top .moduletable{padding:0 42px}
#top .moduletable img{border:none;margin-top:33px}

#inbody{text-align:justify;padding-top:16px}
#center{width:334px;float:left;margin-left:20px;overflow:hidden}

#right{width:334px;float:right;margin-right:23px;margin-top:-25px}

#bottom .moduletable{text-align:center}
#footer{background-color:#000;color:#999;font-style:normal;font-size:10px;text-align:center;border-top:50px solid #F3F3F3;clear:both}
#footer a{color:#ccc;font-size:10px}
#footer .copyright{padding:6px 0 6px 10px}

#bottom_left{float:left;text-align:left;padding:6px 0 0 10px}
#bottom_left div{text-align:left}
#bottom_right{text-align:right;padding:6px 5px 6px 0}

/*joomla settings*/
.componentheading,.moduletable h3,.contentheading{color:#8A0700;font:normal 2em Aria;margin-bottom:20px;text-align:left}
.contentheading{font-size:16px;font-weight:bold}

.blog td{padding-right:3px}
.createdate{font-size:9px}
.small{font-size:10px}
.buttonheading{width:50%;padding:0}
.buttonheading img{border:none}

.contentpane .inputbox{width:50%}
.contentpane select.inputbox{width:55px}
.contentpaneopen input#search_searchword{width:170px}
.contenttoc{display:block;padding:4px;margin:4px;border:1px solid #993300}

ul.mostread{width:327px}
ul.mostread li{border:1px solid #783C1C;border-width:0 0 1px;color:#600000}
ul.mostread li a{height:40px;color:#600000;display:block;line-height:40px;padding:0 16px}
ul.mostread li a:hover{background:#FD9339 url(../images/hover_list.jpg) repeat-x;color:#fff}

.pollstableborder td{vertical-align:middle;padding:2px 0}
.poll thead td{text-align:center}
.poll .button{margin-top:5px}

.sectiontableheader{background:#C85E35;color:#FFF;height:20px;font-weight:bold;padding:0 5px;border-bottom:2px solid #FFFFFF;line-height:25px}
.sectiontablefooter{text-align:center}
.sectiontableentry1{text-align:left;background:#FFEEDD;line-height:25px}
.sectiontableentry1 td,.sectiontableentry2 td{padding:4px}
.sectiontableentry2{text-align:left;line-height:25px}

.contact_email textarea#contact_text{width:320px}
select#mod_templatechooser_jos_change_template{width:141px;margin-top:4px}

.tips{display:none}