#top,#bottom{margin:0 0 0 2px}
#mainbody{margin:0 0 20px 2px;width:420px}
#search_field #inputbox input.inputbox{height:18px;width:72px}
#search_field #button input.button{margin:12px 0 0 5px}
#footer{width:413px;margin-left:2px}
