/*document settings*/
body,th,td,form,div,p{color:#766C7A}
a{border-bottom:1px dashed #766C7A;color:#766C7A}
a:hover{border-bottom:1px solid #CF5AE8;color:#CF5AE8}

/* position setting (tableless)*/

#header{border-bottom:2px solid #766C7A;background:url(../images/light_violet_header.jpg) left top repeat-x}

#toolbar a{border-right:1px solid #444}
#toolbar,#toolbar td,#toolbar p,#toolbar a,#toolbar a:hover{color:#444}

#footer a:hover,.sectiontableentry2 label{color:#766C7A}
#slogan .moduletable,#slogan h2{color:#fff}

#subheader{background:#000 url(../images/violet_subheader.jpg) left bottom repeat-x}

#lbox .moduletable h3,#mainbody .contentheading,#mainbody .componentheading,#rbox .moduletable h3,#box2 .moduletable h3,#box3 .moduletable h3,#slogan .moduletable h3,#slogan h1,.sectiontableentry1 td a,.sectiontableentry2 td a{color:#CF5AE8}

#mainmenu li{border:1px solid #E7A7F4;background:#E7A7F4}
#mainmenu li.active{border:1px solid #CF5AE8;background:#CF5AE8}
#mainmenu li.active a,#mainmenu li.active a:hover,#mainmenu li ul li a:hover{color:#FFF}
#mainmenu li ul{border-bottom:1px solid #fff}
#mainmenu li:hover ul,#mainmenu li.sfhover ul{top:29px}
#mainmenu li li{background:#E7A7F4;border:1px solid #fff}
#mainmenu li li,#mainmenu li li:hover,#mainmenu li li.sfhover,#mainmenu li li.active{border-bottom:none}
#mainmenu li a,#mainmenu li:hover a,#mainmenu li.sfhover a,#mainmenu li li a,#mainmenu li li span.sublevel,#mainmenu li li:hover a,#mainmenu li li.sfhover a,#mainmenu li.active li a{color:#444}
#mainmenu li a,#mainmenu li li a,#mainmenu li li span.sublevel{border:none}
#mainmenu li.active ul li.active{border:1px solid #FFF;border-bottom:none}

#content{background:#fff}
#lbox .moduletable h3,#mainbody .contentheading,#mainbody .componentheading{border-bottom:1px solid #E1E1E1}
blockquote{border-left:8px solid #CF5AE8}

#rbox .moduletable{border:1px solid #E1E1E1;background:#F3E9F3}
#rbox .moduletable ul li a:hover{background:url(../images/violet_cog.png) 0 1px no-repeat}

#newsflash .moduletable{background:#fff;border:1px solid #E7A7F4}
#newsflash .moduletable td,#newsflash .moduletable p,#newsflash .moduletable{color:#000}

#box2{background:#fff}
#box2 .moduletable{border:1px solid #E1E1E1;background:#F3E9F3}

#box{border-top:5px solid #CF5AE8;background:url(../images/light_violet_footer.jpg) bottom left repeat-x}


#box .moduletable,#box .moduletable td,#box .moduletable p,#box .moduletable a,#box .moduletable a:hover,#footer,#footer p,#footer div,#footer a,#footer td,#footer a:hover{color:#444}
#box .moduletable h3{color:#fff}

/*joomla settings*/

.readon:hover{background:url(../images/violet_cog.png) 0 4px no-repeat}

.contenttoc{border:1px dotted #766C7A}
.contenttoc th{border-bottom:1px dotted #766C7A;color:#766C7A}

.blog_more{border:1px dotted #766C7A}
.blog_more div{border-bottom:1px dotted #766C7A}
.blog_more ul li a:hover.blogsection{background:url(../images/violet_cog.png) 0 1px no-repeat}

.sectiontableheader{background:#CF5AE8}

#newsflash .sectiontableentry2,#newsflash .sectiontableentry2 td{color:#777;background:#F2F2F2}
#newsflash .sectiontableentry2 label{color:#333}
