/* Document settings */
body{padding:0;margin:0;font:0.71em Arial,sans-serif;line-height:1.5em;background:#F0F0F0;color:#454545}
a{color:#0E4D8B;background:inherit}
a:hover{color:#000;background:inherit}
h1{font:bold 2em Arial,Sans-Serif;letter-spacing:-1px;padding:16px 0 0 8px;margin:0}
h1 a{color:#FFF;background:inherit;text-decoration:none}
h1 a:hover{color:#BFE1ED;background:inherit}
p{margin:0;line-height:1.5em}
form{margin:0}

/* Position settings (tabless)*/
#container{margin:10px auto;width:768px;background:#FFF url(../images/big_middle.gif) repeat-y;color:#454545;text-align:left}

.table_top{background:#FEFEFE url(../images/big_top.gif) no-repeat;color:#FFF;height:15px}
.table_bottom{clear:both;background:#FEFEFE url(../images/big_bottom.gif) no-repeat;color:#FFF;height:15px}

#header{padding:0 10px}
#header_left{float:left;width:203px;height:77px;background:#5BB2D1 url(../images/logobg.gif) repeat-x;color:#FFF;border-top:1px solid #137DA2;border-bottom:1px solid #000;padding:10px 0 0 7px;overflow:hidden}
#header_left .logo h1 a{height:60px;display:block;text-indent:-5000px}
#header_right{width:537px;float:right}

#topmenu{width:100%;float:left}
#topmenu ul{margin:0;list-style:none;padding:0}
#topmenu a,#topmenu strong,#topmenu span{float:left;display:block;color:#fff;padding:7px 20px 4px 10px;background:#C43219 url(../images/nav.gif) no-repeat 100% 0;text-decoration:none;font-weight:bold}
#topmenu a{float:none}
#topmenu li{float:left;color:#FFF;background:#C43219 url(../images/nav.gif) no-repeat 0 0;margin:0;padding:0 0 0 9px}
#topmenu .active_menu{background:#1995C2 url(../images/nav.gif) no-repeat 0 -41px;color:#FFF}
#topmenu .active_menu a{background:#1995C2 url(../images/nav.gif) no-repeat 100% -41px;padding:7px 20px 4px 11px;color:#FFF}
#topmenu .active_menu a:hover{background:#1995C2 url(../images/nav.gif) no-repeat 100% -41px;color:#FFF}
#topmenu a:hover{color:#BFE1ED;background:#C43219 url(../images/nav.gif) no-repeat 100% 0}

#searchform{clear:both;background:#fff url(../images/searchbg.gif) left top repeat-x;color:#FFE4E0;border-top:1px solid #AA1717;border-bottom:1px solid #000;padding:18px 0 17px 15px;margin-top:0 !important;margin-top:-2px;height:24px}

#user1,#grey{padding:8px;background:#f0f0f0;color:#808080}
#grey{height:32px}
#user1 thead{text-align:center}
#user1 .sectiontableentry2{background:none}

#left{float:left;width:592px;margin:0 0 10px}

#left_side{float:left;width:159px;padding:0 5px 8px 8px}
#left_side .module,#right .module{padding:0 0 12px;background:url(../images/leftbox_bottom.gif) no-repeat bottom left;margin-bottom:10px}
#left_side .module div,#right .module div{background:url(../images/box_edge.gif) repeat-y left}
#left_side .module div div,#right .module div div{background:url(../images/leftbox_top.gif) no-repeat top left}
#left_side .module div div div,#right .module div div div{color:#595959;width:138px;padding:42px 0 0 8px}
#left_side .module div div div h3,#right .module div div div h3{margin-top:-42px}
#left_side .module div div div div,#right .module div div div div{background:none;padding:0}
#left .module ul,#right .module ul{padding-left:20px;margin-left:0;padding-bottom:0}
#left .module ul li,#right .module ul li{padding:0}
#left_side ul#mainlevel,#right ul#mainlevel{list-style:none;margin:0;padding:0}
#left_side .module_non{margin-left:8px}

#right_side{float:right;width:405px;margin:0 5px 0;text-align:justify}
#right_side .module_non a{border:none;background:none}

#top{padding:0 5px 0;margin-bottom:20px;margin-left:0 !important;margin-left:10px;width:405px !important;width:395px;overflow:hidden}
#top .moduletable h3{font-size:1.6em}

#main{margin-left:0 !important;margin-left:8px;padding-top:3px}

#user2 .module{width:403px !important;width:396px;margin:0;margin-left:0 !important;margin-left:8px;padding:0;background:#EDEDED url(../images/grey_t_r.gif) no-repeat top right;color:#808080;margin-bottom:15px}
#user2 .module div{background:url(../images/grey_b_l.gif) no-repeat bottom left}
#user2 .module div div{background:url(../images/grey_t_l.gif) no-repeat top left;padding:0 0 0 10px}
#user2 .module div div div{background:url(../images/grey_b_r.gif) no-repeat bottom right;padding:15px 0}
#user2 .module ul{list-style:none;margin:0;padding:0 10px 0 0}
#user2 .module ul li{padding:5px 3px 5px;margin:0 0 3px;border-bottom:1px solid #ccc}
#user2 a{color:#C83C3C;background:inherit;font-weight:bold}
#user2 a:hover{color:#000;background:#EDEDED}

#right{float:right;width:170px;margin:0 0 10px}

#bottom_left{float:left;margin:0;padding:0 5px 0 15px;text-align:left}
#bottom_left div{font-size:11px;text-align:left;color:#999}
#bottom_right{float:right;margin:0;padding:0 15px 10px;text-align:right}
#bottom_right div{font-size:11px;color:#999}

#footer{text-align:center;line-height:1.8em;color:#808080;margin-bottom:10px;overflow:hidden;border-top:1px solid #eee;padding-bottom:5px}
#footer a{color:#4F4F4F;border-bottom:1px dotted #808080;text-decoration:none}

/* Joomla settings*/
.blog td{padding:2px}
.componentheading{color:#454545;margin:0;padding:0;font-size:18px;font-weight:bold;letter-spacing:-1px;margin-bottom:3px}
.contentheading{font-size:12px;margin:0 0 10px;padding:0;color:#5f5f5f;text-transform:uppercase;font-weight:bold}

.module h3{display:block;font-size:16px;color:#808080;padding:10px 0 0;margin:0;height:35px;width:144px}
.contentpane .inputbox{width:50%}
.contentpane select.inputbox{width:55px}
.small,.smalldark,span.small,.createdate,.modifydate,.pagenavcounter{font-size:10px}

.syndicate{margin:0;height:90px}
.syndicate div{margin:0 0 4px;clear:both}
.syndicate div img{margin-left:30px;}

#mod_templatechooser_jos_change_template{width:142px}
div.search input#mod_search_searchword{width:120px}
textarea#contact_text.inputbox{width:360px}

.poll thead tr td{padding-left:3px}
.pollstableborder{text-align:left}
.sectiontableheader{background:#C85E35;color:#FFF;height:20px;font-weight:bold;line-height:20px;padding:0 5px;border-bottom:2px solid #FFFFFF}
.sectiontablefooter{text-align:center}
.sectiontableentry1{background:none;line-height:20px}
.sectiontableentry2{background:#f0f0f0;line-height:20px}

input.search{width:199px;border:none;background:#FFF url(../images/input.gif);padding:4px;color:#808080}
input.submit{height:24px;font-weight:bold;width:53px;border:none;background:#D96855 url(../images/button.gif);padding:3px;color:#FFF}

.back_button{margin-bottom:5px}
.tips{display:none}