/*document settings*/
body{padding:0;margin:0;background:url(../images/main-bg.gif) 0 0 repeat-x #FCFAE6;font:14px/20px Arial,Helvetica,sans-serif;color:#3D3C2C;font-weight:normal}
th,td,form,div,p{margin:0;padding:0;font-family:Arial;color:#3D3C2C}
a{color:#CC0000;text-decoration:underline}
a:hover{text-decoration:none}
ul{margin:0;list-style:none;padding:0}
li{margin:0;padding:0}

/* position setting (tableless)*/
.clr{clear:both}

#container{width:778px;margin:0 auto;text-align:left}

#topbox1{width:778px;margin:0;float:left;height:96px}

#logo{margin:23px 0 0 6px;width:204px;float:left;height:57px;overflow:hidden}
#logo h1,#logo h1 a{width:204px;height:57px}
#logo h1{background:url(../images/logo.gif) left top no-repeat;margin:0}
#logo h1 a{display:block;text-indent:-5000px;background:none;border:none}

#toolbar{margin:0 0 0 38px;width:529px;height:96px;float:left}
#toolbar a.mainlevel{width:104px;height:35px;display:block;font:14px/14px "Trebuchet MS",Arial,Helvetica,sans-serif;color:#2E4E00;background:url(../images/menu-bg.gif) 0 0 repeat-x #F4F1DD;text-decoration:none;margin:0;padding:60px 0 0 0;float:left;text-align:center;overflow:hidden}
#toolbar a:hover.mainlevel,#toolbar a#active_menu.mainlevel{width:104px;height:35px;display:block;background:#FCFAE6;color:#2E4E00;text-decoration:none}
#toolbar ul,#toolbar ul li{margin:0;padding:0;display:inline}
#toolbar ul li a.mainlevel{margin-top:1px}

#topbox2{width:777px;margin:35px 0 0;float:right;height:236px;overflow:hidden}

#menuhack,#menu1,#menu2,#menu3{width:237px;margin:0;float:left;height:236px;overflow:hidden}
#menuhack{margin:13px 0 0 8px}
#menu2,#menu3{margin-top:13px}
#menu1,#menu2,#menu3{height:62px}
#menu1 ul li a{background:url(../images/icon1-nor.gif) no-repeat 0 0}
#menu1 ul li a:hover{background:url(../images/icon1-hover.gif) no-repeat 0 0}
#menu2 ul li a{background:url(../images/icon2-nor.gif) no-repeat 0 0}
#menu2 ul li a:hover{background:url(../images/icon2-hover.gif) no-repeat 0 0}
#menu3 ul li a{background:url(../images/icon3-nor.gif) no-repeat 0 0}
#menu3 ul li a:hover{background:url(../images/icon3-hover.gif) no-repeat 0 0}
#menu1 ul li a,#menu2 ul li a,#menu3 ul li a{width:237px;height:62px;float:left;font:16px/14px Georgia,"Times New Roman",Times,serif;color:#CC0000;z-index:1;text-decoration:none;padding:9px 0 5px 81px;line-height:25px}
#menu1 ul li a span,#menu2 ul li a span,#menu3 ul li a span{font:12px/14px "Trebuchet MS",Arial,Helvetica,sans-serif;color:#2E5000;margin:0;z-index:1;display:inline}

#advert3{width:526px;margin:0 0 0 6px;float:left;height:236px;overflow:hidden}

#content{width:778px;margin:36px 0 0;text-align:left;float:left;overflow:hidden}

#lbox,#right,#user4,#left{width:239px;margin:0;float:left;text-align:right;overflow:hidden}
#lbox{margin:0 0 0 8px;width:240px}
#user4{width:237px;border:1px solid #DCDAC2;background:#fff;color:#000;text-align:left}
#user4 .moduletable{margin:0;padding:0 24px 5px;margin-bottom:9px;background:url(../images/login-bg.gif) 0 0 repeat-y #fff;color:#333227}
#user4 .moduletable h3{height:48px;background:url(../images/symbol4.gif) 0 0 no-repeat #fff;display:block;position:relative;padding:12px 0 20px 70px;margin:0 -24px;font:16px/48px  Georgia,"Times New Roman",Times,serif;color:#3D3C2C;text-transform:uppercase}
#user4 .moduletable h3 span{color:#5EA000}
#user4 .moduletable input.button{background:url(../images/arrow4.gif) no-repeat 50px 0 #63614F;border:none;width:70px;height:21px;display:block;margin:2px 0 0 0;padding:0 0 0 5px;text-decoration:none;color:#fff;font:14px/21px "Trebuchet MS",Arial,Helvetica,sans-serif;text-transform:uppercase;text-align:left}
#user4 .moduletable a{text-decoration:none;color:#FFFFFA;font-size:12px;line-height:23px;font-weight:bold;background:#B0AD93;padding:3px 4px}
#user4 .moduletable a:hover{text-decoration:underline}

#left .moduletable,#right .moduletable{margin:0;padding:0;text-align:right}
#left .moduletable h3,#right .moduletable h3{display:block;padding:0 0 0 57px;margin:12px 0 22px 13px;font:28px/48px Georgia,"Times New Roman",Times,serif;color:#3D3C2C}
#left .moduletable ul,#right .moduletable ul{margin:0;padding:0}

#left .moduletable ul li,#right .moduletable ul li{background:url(../images/arrow3.gif) center right no-repeat;padding:0px 20px 0 0}
#left .moduletable ul li a,#right .moduletable ul li a{text-decoration:underline;color:#3D3C2C}
#left .moduletable ul li a:hover,#right .moduletable ul li a:hover{text-decoration:none}

#rbox,#top,#mainbody,#bottom,#user6,#spacer1,#spacer2{width:504px;margin:0;text-align:left;float:left;overflow:hidden}
#spacer1,#spacer2{height:10px;background:#FFF}
#mainbody{width:324px}
blockquote{font:14px/17px Georgia,"Times New Roman",Times,serif;color:#7D7D7D;font-style:italic;font-weight:bold;margin:20px 0}
#rbox{border:1px solid #DCDAC2;background:url(../images/right-bg.gif) top left repeat-y;color:#3D3C2C;margin-left:14px}
#rbox .moduletable,#mainbody,#rbox .moduletable_special1,#rbox .moduletable_special2{margin:0;padding:20px 90px 14px}
#rbox .moduletable h3,#mainbody .contentheading,#mainbody .componentheading,#rbox .moduletable_special1 h3,#rbox .moduletable_special2 h3{height:31px;display:block;position:relative;padding:24px 0 0 0;font:28px/28px Georgia,"Times New Roman",Times,serif;color:#3D3C2C;margin:0 0 20px}
#rbox .moduletable .redtext,#rbox .moduletable_special1 .redtext,#rbox .moduletable_special2 .redtext{background:#FCFAE6;color:#CC0000;font-size:18px;line-height:20px;padding:0 0 26px}
#rbox .moduletable span,#rbox .moduletable_special1 span,#rbox .moduletable_special2 span{background:#FFFFFA;color:#3D3C2C}
#rbox .moduletable_special1 h3{background:url(../images/symbol5.gif) 75.5% 0 no-repeat #FCFAE6}
#rbox .moduletable_special2 h3{background:url(../images/symbol6.gif) 75.5% 0 no-repeat #FCFAE6}

#rbox .moduletable ul,#rbox .moduletable_special1 ul,#rbox .moduletable_special2 ul{margin:0 0 30px 0;padding:0}
#rbox .moduletable ul li,#rbox .moduletable_special1 ul li,#rbox .moduletable_special2 ul li{background:url(../images/arrow2.gif) 0 7px no-repeat;font:14px/24px Arial,Helvetica,sans-serif;padding:0 0 0 20px}
#rbox .moduletable ul li a,#rbox .moduletable_special1 ul li a,#rbox .moduletable_special2 ul li a{height:60px;background:#FCFAE6;color:#CC0000;text-decoration:underline;line-height:24px}
#rbox .moduletable ul li a:hover,#rbox .moduletable_special1 ul li a:hover,#rbox .moduletable_special2 ul li a:hover{height:60px;text-decoration:none;line-height:24px}

#footer_box,#user9,#footer,#spacer3,#box1{width:778px;margin:0;float:left;overflow:hidden}
#footer_box,#footer_box a,#footer_box div,#footer_box p,#footer_box td{color:#fff}
#footer_box{margin:10px 0 81px}
#spacer3{width:262px;height:150px}
#user9,#footer,#box1{width:506px;background:#B0AD93}
#box1{height:150px}

#user9{margin:34px 84px 0 0;padding:0;width:401px;text-align:right;float:right}
#user9 a.mainlevel{padding:0 10px;color:#FFFFFA;text-decoration:none;font:12px/14px "Trebuchet MS",Arial,Helvetica,sans-serif;font-weight:normal;border-right:1px solid #fff}
#user9 a:hover.mainlevel{text-decoration:underline}
#user9 ul,#user9 ul li{display:inline}

#footer{margin:10px 84px 0 0;float:right;width:426px;text-align:right;font:12px/15px "Trebuchet MS"}
#bottom_left,#bottom_right,#bottom_left div,#bottom_right div{margin:0;padding:0;font:12px/15px "Trebuchet MS"}
#bottom_left div{margin:0;padding:7px 0;display:block;width:100%}
#bottom_left div a{background:url(../images/advert.gif) 0 0 no-repeat;width:66px;height:21px;display:block;float:right;text-align:left;padding-left:3px;color:#353427;font-size:15px;text-decoration:none;line-height:21px;margin-left:10px}
#bottom_left div a:hover{background:url(../images/advert1.gif) 0 0 no-repeat}

#bottom_right{margin-top:15px}
#bottom_right div{margin:0;padding:10px 0 0;display:block;width:100%;text-align:right}
#bottom_right div a{text-decoration:none}
#bottom_right div a:hover{text-decoration:underline}

/*joomla settings*/
.small,span.small,#mainbody .createdate,#mainbody .modifydate,.pagenavcounter{font-size:0.9em;font-style:italic}
.back_button,.pagenav_prev,.pagenav_next{font-size:0.9em}
.readon{float:right;text-align:right;padding-right:25px;padding-left:10px;background:url(../images/more.gif) no-repeat 100% center #B0AD93;border:1px solid #FFF;color:#fff;font:14px/23px "Trebuchet MS",Arial,Helvetica,sans-serif;text-transform:uppercase;line-height:29px;text-decoration:none;height:29px;overflow:hidden;width:89%}
a:hover.readon{background:url(../images/more1.gif) no-repeat 100% center #B0AD93}

.contentpane,.contentpaneopen{text-align:justify}

.contenttoc{margin:7px 0 7px 7px;padding:0 10px;border:1px dotted #666}
.contenttoc th{border-bottom:1px dotted #666;font-size:13px;color:#666;text-align:center}
.contenttoc td{margin:5px 0 5px 14px;padding:2px 7px}
.contenttoc a.toclink{text-decoration:none;font-weight:bold}

.blog td{padding:2px}
.blog_more{margin:0 3px 15px 13px;padding:3px 6px;border:1px dotted #666}
.blog_more div{border-bottom:1px dotted #666}
.blog_more ul{margin:2px 0 2px 34px}
.blog_more ul li{margin-left:30px}
.blog_more ul li a.blogsection{text-decoration:none}

.syndicate div{text-align:center}
select#mod_templatechooser_jos_change_template{width:142px}
div.contact_email textarea#contact_text.inputbox{width:350px}
.contentpane .inputbox{width:50%}
.contentpane select.inputbox{width:55px}

.pollstableborder td{line-height:25px;vertical-align:middle}
.poll thead td{text-align:center}
.poll .button{margin-top:5px}

.sectiontableheader{color:#FFF;background:#93BC0C;font-weight:bold;padding:0 5px;height:20px;border-bottom:1px dashed #222;font-size:12px}
.sectiontablefooter{text-align:center}
.sectiontableentry1 label{color:#333}
.sectiontableentry2 label{color:#333}

.pollstableborder{margin:0}
.pollstableborder td{vertical-align:middle}
.pollstableborder input{margin:0}

.sectiontableentry1,.sectiontableentry1 td{padding:2px;text-align:left;background:#EFEFEF;color:#333;line-height:25px}
.sectiontableentry1 td a,.sectiontableentry2 td a{line-height:25px}
.sectiontableentry2,.sectiontableentry2 td{padding:2px;text-align:left;background:none;color:#333;line-height:25px}

.tips{display:none}