body,html {
background:#e3f0c1;
color:#1B403E;
margin:0;
padding:0;
}

body {
min-width:800px;
background:#e3f0c1 url(images/wrap_bg.gif) repeat-y top center;
font:0.8em/1.4em Tahoma, Geneva, sans-serif;
}

#wrap {
background:#F4F7EB;
width:760px;
margin:0 auto;
}

#header {
background:#B29742 url(images/header_bg.jpg) no-repeat top center;
height:175px;
margin:0;
padding:0;
}

#header h1 {
color:#7AA410;
font:italic bold 400% "Times New Roman", Times, serif;
margin:0;
padding:40px 20px;
}

#nav {
background:#AFCD70;
border-top:2px solid #889F57;
border-bottom:2px solid #889F57;
padding:5px 10px;
}

#nav ul {
list-style:none;
margin:0;
padding:0;
}

#nav li {
display:inline;
margin:0;
padding:0 2em 0 0;
}

#nav li a {
font-weight:700;
text-decoration:none;
}

#nav li a:link {
color:#060;
}

#nav li a:visited {
color:#768756;
}

#main {
color:#1B403E;
background:#F4F7EB;
float:left;
width:500px;
border-right:1px dashed #E3F0C1;
padding:20px 0;
}

#main h2,#main h3,#main p {
padding:0 20px;
}

#main h2,#main h3 {
color:#B19A53;
}

#sidebar {
background:#F4F7EB;
float:right;
width:240px;
padding:20px 0;
}

#sidebar ul {
padding-bottom:1em;
}

#sidebar li {
color:#AFCD70;
list-style:circle;
}

#sidebar li a {
text-decoration:none;
}

#sidebar li a:link {
color:#547999;
}

#sidebar li a:visited {
color:#895499;
}

#sidebar h3,#sidebar p {
padding:0 10px 0 0;
}

#sidebar h3 {
color:#b19a53;
}

#footer {
color:#060;
border-top:2px solid #889F57;
border-bottom:2px solid #889F57;
background:#AFCD70;
clear:both;
font-size:0.75em;
text-align:center;
}

#footer p {
margin:0;
padding:5px;
}

sup,sub {
color:#7AA410;
}

blockquote {
background:#e3f0c1;
border-left:2px solid #afcd70;
font:0.9em/1.5em "Palatino Linotype", "Book Antiqua", Palatino, serif;
color:#898D67;
letter-spacing:.05em;
margin-top:15px;
margin-bottom:15px;
padding:6px;
}

.blendedlinks {
color:#060;
text-decoration:none;
}

#nav li a:hover,#nav li a:active {
color:#E3F0C1;
}

#main p,#sidebar p {
color:#1B403E;
}

#sidebar li a:hover,#sidebar li a:active {
color:#999254;
}